$primaryColor: hsl(171, 100%, 41%);

$navbar-height: 5.25rem;
$navbar-item-hover-color: $primaryColor;
$navbar-item-hover-background-color: none;
$navbar-item-active-color: $primaryColor;
$navbar-dropdown-arrow: $primaryColor;
$navbar-dropdown-border-top: 2px solid $primaryColor;
$navbar-dropdown-item-hover-color: $primaryColor;



$input-focus-border-color: $primaryColor;
$input-focus-box-shadow-color: none;

$footer-background-color: none;
$footer-padding: 1.5rem;